$primaryColor: #ee1942;
$altColorBlue: #21c1f0;
$altColorOrange: #FFAB0A;
$bgColor: #ebe8e8;
$white: #FFFFFF;
$black: #333333;
$deepblack: #222222;
$rose: #F7C0C7;
$seafoam: #B6E0D7;
$seafoam2: #8EE2C8;
$shadow: #8DA5CB;
$orange: #ff8362;
$navy: #273B53;
$clouds: #99C2FF;

$headercolor: $orange;
$acolor: $white;
$headerhovorcolor: $navy;
$hovercolor: $seafoam;