@import '../bower_components/foundation-sites/scss/util/mixins';

.top-bar {
	width: 100%;
	list-style: none;
	background-color: blue !important;
	// border-width: 2em;
	// border-style: solid;
	// border-color: pink;
	.logo {
		margin: auto;
		width: 4rem;
	}	
	ul {
		vertical-align: center;
	}
	.li {
		list-style: none;
	}
}